<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
  <link rel="stylesheet" href="/static/style.css">
  <meta name="csrf_token" content={{._csrf}}>
</head>
<body>
  <div id="app">

    <div class="header">
      <span class="title">Img Post</span>
      {{if .alive}}
      <img class="icon iconMargin" src="/icon/{{.id}}.jpg">
      <span>{{.name}}</span>
      <button class="post" @click="transPage('post')">投稿</button>
      {{else}}
      <span class="login">
        <a href="/auth/google">login</a>
      </span> 
      {{end}}
    </div>

      <component v-bind:is="currentPage"></component>
  </div>

  <a href="/auth/google/logout">logout</a>

  <script src="static/bundle.js"></script>
</body>
</html>